@import '../../scss/App.scss';
.container{
    width: 100%;
    position: relative;
    margin: 0;
    img{
        width: 100%;
            }
    &__btn{
    border: none;
       padding: 1.1rem 2rem;
       background-color: transparent;
       position: absolute;
       z-index: 1;
       top: 5rem;
       left: 1rem;
       cursor: pointer;
    }
    h5{
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 1rem;
    }
    &__description{
        text-align: left;
        margin: 2rem 6rem;
        margin-top: 2rem;
            }
    &__title{
        font-size: 24px;
        font-weight: 500;
    }
    &__author{
        font-size: 14px;
        font-weight: 400;
        color: $Text-faded;
    }
    &__time{
        display: flex;
        align-items: center;
        img{
            width: 1rem!important;
            height: 1rem !important;
            margin-right: 0.5rem;
        }
        p{
            color: $Primary;
            font-size: 16px;
            font-weight: 400;
        }
    }
    &__level{
        padding: 0.4rem;
        background-color: $Secondary;
        border: none;
        border-radius: 0.9rem;
        font-size: 14px;
        font-weight: 400;
    }
     
    &__svg{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        span{
            font-size: 14px;
            font-weight: 400;
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
                   
    }
    &__ingredients{
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        font-weight: 400;
        border-bottom: 1px solid $Input-background;
        margin-bottom: 0.5rem;
    }
}

   
 
    