@import '../../scss/App.scss';
.container{
    position: relative;
    padding: 2rem;
    &__back{
        position: absolute;
        left: 2rem;
    }
    &__foodCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 2rem 0;
    }
}
.container__profile{
    width: 25rem;
    margin: auto;
 
    img{
        border-radius: 1rem;
    }
    h3{
        font-size: 18px;
        font-weight: 500;
    }
    &_info{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        div{
            margin: 0 1rem;
        }
        span{
        font-size: 24px;
        font-weight: 500;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
    }
    p{
        color:$Text-faded;
    }
    button{
        background-color: $Primary;
        border: none;
        width: 100%;
        height: 3rem;
        color: white;
        font-size: 16px;
        font-weight: 400;
        border-radius: 0.7rem;
        margin-top: 1rem;
    }
}